* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

# Menggunakan LF (Line Feed) di repositori, tidak peduli sistem operasi
* text eol=lf

# File yang harus menggunakan CRLF di repositori, misalnya file XML atau HTML yang spesifik
public/sitemap.xml eol=crlf
